@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

:root {
    --cor-amarela: #f0a654;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: monospace, sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    max-width: 1440px;
    margin: auto;
}

img {
    width: 100%;
}

.cabecalho {
    background-color: white;
    min-height: 80px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cabecalho .logo img {
    width: 70px;
}

.cabecalho nav .menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.cabecalho nav .menu li {
    font-size: 2rem;
    font-weight: 700;
}

.cabecalho nav .menu li a {
    color: black;
    transition: 0.3s ease-in-out;
}

.cabecalho nav .menu li a:hover {
    color: var(--cor-amarela);
}

.principal .quem-somos {
    min-height: 600px;
    width: 100%;
    background-image: url('../imagens/front-view-tasty-meat-burger-with-cheese-and-salad-on-a-dark-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal .quem-somos .conteudo-quem-somos {
    padding: 20px;
}

.principal .quem-somos .conteudo-quem-somos h1 {
    font-size: 5.0rem;
    color: white;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
}

.principal .quem-somos .conteudo-quem-somos p {
    font-size: 2.5rem;
    color: var(--cor-amarela);
    font-weight: 700;
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
}

.principal .burgers {
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

.principal .burgers .conteudo-burgers {
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.principal .burgers h2 {
    padding-top: 50px;
    color: black;
    text-align: center;
    font-size: 5rem;
}

.principal .burgers .conteudo-burgers .img-burger {
    width: 250px;
    height: 330px;
    background-color: #f0a654;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.514);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.principal .burgers .conteudo-burgers .img-burger:hover {
    transform: scale(1.1);
}

.principal .burgers .conteudo-burgers div h3 {
    text-align: center;
    font-size: 3rem;
    margin: 20px 0;
    font-family: 'Oleo Script Swash Caps', cursive;
}

.principal .burgers .conteudo-burgers .img-burger.burger-classic {
    background-image: url('../imagens/classic.JPG');
}

.principal .burgers .conteudo-burgers .img-burger.burger-especial {
    background-image: url('../imagens/especial.JPG');
}

.principal .burgers .conteudo-burgers .img-burger.burger-prime {
    background-image: url('../imagens/prime.JPG');
}

.principal .burgers .conteudo-burgers .img-burger.burger-double {
    background-image: url('../imagens/double.JPG');
}

.ingredientes {
    background-color: rgba(0, 0, 0, 0.342);
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.8rem;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    opacity: 0;
}

.mostrar {
    opacity: 1;
}

.principal .burgers .conteudo-burgers .smash {
    width: 250px;
    height: 330px;
    background-color: #f0a654;
    margin: 10px;
    border-radius: 5px;
}

.principal .contato {
    background-color: var(--cor-amarela);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.principal .contato .conteudo-contato {
    max-width: 800px;
    margin: auto;
}

.principal .contato .conteudo-contato h2 {
    font-size: 5rem;
    margin-bottom: 20px;
}

.principal .contato .conteudo-contato .insta, .whatsapp, .link-insta, .link-whatsapp {
    font-size: 3rem;
}

.principal .contato .conteudo-contato .whatsapp {
    margin-top: 20px;
}

.principal .contato .conteudo-contato a {
    color: black;
    transition: 0.2s;
}

.principal .contato .conteudo-contato a:hover {
    background-color: black;
    color: var(--cor-amarela);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.685);
}

.rodape {
    min-height: 60px;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 20px;
}

.rodape .dev p a {
    color: var(--cor-amarela);
    font-size: 1.6rem;
}

.rodape .dev a:hover {
    text-decoration: underline;
}

.rodape .social i {
    margin-top: 10px;
    color: black;
    transition: 0.2s ease;
}

.rodape .social i:hover {
    color: var(--cor-amarela);
}

@media (max-width: 458px) {
    .cabecalho {
        display: block;
        text-align: center;
    }

    .cabecalho nav .menu {
        display: block;
    }

    .cabecalho nav .menu li {
        margin: 15px 0;
    }

    .principal .quem-somos .conteudo-quem-somos .imagem-fundo h1 {
        font-size: 3rem;
    }

    .principal .quem-somos .conteudo-quem-somos .imagem-fundo p {
        font-size: 1.8rem;
    }

    .principal .burgers h2, .principal .contato .conteudo-contato h2 {
        font-size: 3.5rem;
    }

    .principal .contato .conteudo-contato .insta, .whatsapp {
        font-size: 2rem;
    }

    .principal .contato .conteudo-contato .link-insta, .link-whatsapp {
        font-size: 1.6rem;
    }
}